:root{
--azul:#1e88e5;
--azul-oscuro:#1565c0;
--gris:#f5f5f5;
--naranja:#ff9800;
}

*{
   margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
color:#333;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
background:rgb(255, 255, 255);
padding:5px 0;
box-shadow:0 2px 10px rgba(0,0,0,0.08);

}

.container{
display:flex;
justify-content:space-between;
align-items:center;
max-width:800px;
margin:auto;
padding:8px 20px;
}

.logo{
height:180px;
}

nav a{
color:#333;
margin-left:25px;
text-decoration:none;
font-weight:600;
}

/* ICONO MENU */
.menu-toggle {
font-size: 28px;
cursor: pointer;
}

/* MENÚ */
.menu {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

width: 80%;
max-width: 300px;

background: #0077ff;
padding: 25px;
border-radius: 15px;

display: none;
flex-direction: column;
gap: 15px;

z-index: 999;
}

/* MENÚ ACTIVO */
.menu.active {
display: flex;
}

/* LINKS */
.menu a {
padding: 10px;
text-decoration: none;
color: #333;
border-radius: 5px;
}

.menu a:hover {
background: #0077ff;
color: white;
}

/* ORDENADOR */
@media (min-width: 768px) {
.menu {
 
position: static;
display: flex !important;
flex-direction: row;
width: auto;
box-shadow: none;
background: none;
}

.menu-toggle {
display: none;
}
}


.hero{
margin-top: 80px;
height:100vh;

background-image:url("images/hero.jpg.webp");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
justify-content: center;
padding-left:80px;
}
.hero h1{
color:white;
font-size:50px; /* MÁS GRANDE */
font-weight:bold;
}

.hero p{
color:white;
font-size:20px;
}

.hero{
position:relative;
}

.hero-icons div {
  color:white;
}


.hero h1,
.hero p{
text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}



.hero-texto{
background: rgba(0,0,0,0.4); /* fondo oscuro transparente */
padding:30px;
border-radius:10px;
display:inline-block;
}



.hero-content {
text-align: center;
color: white;
max-width: 90%;
}

.hero-content h1 {
font-size: 32px;
}

@media (min-width: 768px) {
.hero-content h1 {
font-size: 50px;
}
}


/* TEXTO EN CAJA MODERNA */
.hero-text{

background:rgba(255,255,255,0.85);

padding:40px;

border-radius:15px;

max-width:500px;

}

/* TÍTULO */
.hero-text h1{
font-size:45px;
color:#2e2c2c;
margin-bottom:15px;
}

/* TEXTO */
.hero-text p{
color:#252323;
margin-bottom:20px;
}

/* BOTONES */
.hero-buttons{
display:flex;
gap:10px;
}

.btn{
background:#2b8cff;
color:white;
padding:12px 25px;
border-radius:5px;
text-decoration:none;
}

.btn2{
border:2px solid #2b8cff;
color:#2b8cff;
padding:12px 25px;
border-radius:5px;
text-decoration:none;
}


.hero-content{
background:rgba(0,0,0,0.2);
border-radius:20px;
backdrop-filter:blur(10px);
}




@media (max-width:768px){

.hero h1{
font-size:32px;
}

.hero p{
font-size:16px;
}

}


.servicios{
padding:60px;
text-align:center;
}
.servicios-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
max-width:1000px;
margin:auto;
}

.servicio{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
transition:0.3s;
}

.servicio:hover{
transform:translateY(-10px);
}

.ventajas{
padding:70px;
background:white;
text-align:center;
}

.ventajas-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:40px;
max-width:1000px;
margin:auto;
margin-top:40px;
}

.ventajas-grid div{
background:#f5f5f5;
padding:30px;
border-radius:10px;
font-size:18px;
}


.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
max-width:1100px;
margin:auto;
}

.card{
background:white;
padding:35px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.3s;
font-size:18px;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

.precios{
background:#e3f2fd;
padding:60px;
text-align:center;
}

.precio-cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.price{
font-size:24px;
color:#1e88e5;
font-weight:bold;
}

.slider{
display:flex;
overflow-x:auto;
gap:20px;
padding:20px;
}

.slider img{
height:260px;
border-radius:12px;
transition:0.4s;
cursor:pointer;
}

.slider img:hover{
transform:scale(1.08);
}



.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap; /* Si no caben, bajan a la siguiente línea */
  gap: 15px;      /* Espacio entre las fotos */
  justify-content: center;
}

/* Esto controla el tamaño de cada imagen */
.gallery img {
  width: 450px;   /* Ajusta este número para que sean más grandes o pequeñas */
  height: 350px;  /* Altura fija para que todas se vean iguales */
  object-fit: cover; /* Evita que la imagen se estire o se vea deforme */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

.contacto{
background:#1e88e5;
color:white;
padding:60px;
text-align:center;
}

.formulario{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:10px;
margin-top:30px;
}

.formulario input,
.formulario textarea{
padding:10px;
border:none;
border-radius:5px;
}

.formulario button{
background:#ff9800;
color:white;
padding:12px;
border:none;
border-radius:5px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
}

.llamar{
position:fixed;
bottom:80px;
right:20px;
background:#2196f3;
color:white;
padding:15px;
border-radius:50px;
}


.fade-in.visible{
opacity:1;
transform:translateY(0);
}


@media(max-width:768px){

nav{
display:none;
flex-direction:column;
background:#1e88e5;
position:absolute;
top:30px;
right:0;
width:200px;
padding:20px;
}

nav.active{
display:flex;
}

.menu-icon{
display:block;
}

} 
section{

padding:90px 20px;

}

.proceso{
background:var(--gris);
text-align:center;
}

.proceso-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:40px;
max-width:900px;
margin:auto;
}

.proceso-grid div{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.horario{

padding:80px 20px;

text-align:center;

background:#f5f5f5;

}



.horario-grid{

max-width:500px;

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

font-size:18px;

}



.horario-grid div{

background:white (255, 255, 255);

padding:12px;

border-radius:6px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}



.nota-horario{

margin-top:20px;

font-size:16px;

color:#555;

}

.lista-servicios{
max-width:700px;
margin:auto;
text-align:left;
font-size:18px;
line-height:1.8;
list-style:none;
padding:20px;
}
.horario{
padding:80px 20px;
text-align:center;
background:#fffbfb;
}
.horario h2{
color:#333
}

.horario-grid{
color : rgb(255, 248, 248);
max-width:500px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
font-size:18px;
}

.horario-grid div{
background:rgb(85, 143, 190);
padding:12px;
border-radius:6px;
box-shadow:0 3px 10px rgb(255, 255, 255);
}


@keyframes fadeUp{
from{
opacity:0; 
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0)
}
}



#reviews-container {
margin-top: 30px;
display: grid;
gap: 15px;
}

.reseña {
background: white;
padding: 15px;
border-radius: 12px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.reseña strong {
font-size: 16px;
}

.estrellas {
color: gold;
margin: 5px 0;
font-size: 18px;
}



.rating span{
font-size:30px;
cursor:pointer;
}

textarea{
width:100%;
max-width:400px;
height:100px;
margin-top:15px;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}



body{
font-family: Arial, sans-serif;
background:#f5f7fa;
}

section{
padding:60px 20px;
}

/* TARJETAS */
.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


form{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
margin:auto;
}

input, textarea{
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#2b8cff;
color:white;
padding:10px;
border:none;
border-radius:5px;
}



.rating{
display:flex;
justify-content:center;
flex-direction:row-reverse;
font-size:30px;
}

.rating input{
display:none;
}

.rating label{
color:#ccc;
cursor:pointer;
}

.rating input:checked ~ label{
color:gold;
}

.rating label:hover,
.rating label:hover ~ label{
color:gold;
}



.btn-principal{
animation:latido 1.5s infinite;
}

@keyframes latido{
0%{transform:scale(1);}
50%{transform:scale(1.05);}
100%{transform:scale(1);}
}



@media (max-width: 768px) {

nav {
flex-direction: column;
text-align: center;
}

.hero {
flex-direction: column;
padding: 40px 20px;
text-align: center;
}

.hero-text h1 {
font-size: 28px;
}

.hero-text p {
font-size: 16px;
}

.hero-buttons {
flex-direction: column;
gap: 10px;
}

.hero-img img {
width: 100%;
}

.cards {
flex-direction: column;
}
}

@media (max-width: 768px) {
body {
font-size: 16px;
}

section {
padding: 40px 15px;
}

.hero {
height: 100vh;
}

.hero-content {
padding: 20px;
}

.servicios {
display: flex;
flex-direction: column;
gap: 20px;
}

.precio-cards {
display: flex;
flex-direction: column;
gap: 15px;
}

.gallery {
display: flex;
flex-direction: column;
gap: 15px;
}
}



.menu, .menu ul, nav, header nav {
margin-top: 0 !important;
padding-top: 0 !important;
top: 0 !important;
}